.header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
